.Header {
  height: 100px;
  position: sticky;
  top: 0px;
  color: #6da34d;
  background-color: #1a1a1a;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  grid-area: top;
  z-index: 1; }

.Header .headerPrompt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%; }

.Header h1 {
  margin: 0;
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 3.5em; }

.Header h2 {
  margin: 0; }

.Header .welcome-message {
  display: inline-block;
  margin: auto; }

.Header button {
  margin-right: 50px;
  font-size: 1em;
  font-weight: bold;
  margin-left: auto;
  border: none;
  background-color: #6da34d;
  color: #393939;
  width: 100px;
  height: 50px;
  border-radius: 10px; }
  .Header button:hover {
    background-color: #393939; }
  .Header button:hover {
    color: #6da34d; }
