@import '../variables.scss';

.Header {
  height: 100px;
  position: sticky;
  top: 0px;
  color: $primary-one;
  background-color: $gray-black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-area: top;
}

.Header .headerPrompt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
}

.Header h1 {
  margin: 0;
  position: absolute;
  top: 30px;
  left: 20px;
}

.Header h2 {
  margin: 0;
}

.Header p {
  margin-left: 20px;
  margin-right: auto;
}

.Header button {
  margin-right: 50px;
  margin-left: auto;
  border: none;
  background-color: $secondary-one;
    &:hover {
      background-color: $primary-accent;
    }
  color: $primary-accent;
    &:hover {
      color: $secondary-one;
    }
  width: 75px;
  height: 25px;
}
