@import '../variables.scss';

.App {
  text-align: center;
  // from https://www.transparenttextures.com/
  background-image:   url('localhost:3000/../assets/background-grass-texture.png');
  background-color: $grass;
  display: grid;
  grid-template-rows: 120px auto;
  grid-template-columns: auto 650px;
  grid-template-areas:
    "top top"
    "left right";
  height: 100vh;
  overflow: scroll;
}
