.App {
  text-align: center;
  background-image: url("localhost:3000/../assets/background-grass-texture.png");
  background-color: #377100;
  display: grid;
  grid-template-columns: auto 400px;
  grid-template-rows: 100px auto;
  grid-template-areas: "top top" "left right"; }
