.App {
  text-align: center;
  background-image: url("localhost:3000/../assets/background-grass-texture.png");
  background-color: #6a9143;
  display: grid;
  grid-template-rows: 120px auto;
  grid-template-columns: auto 650px;
  grid-template-areas: "top top" "left right";
  height: 100vh;
  overflow: scroll; }
