@import '../variables.scss';

.Main {
  display: inline-block;
  width: auto;
  grid-area: left;
}

.Main .nav-tabs {
  display: flex;
  justify-content: space-around;
}

.Main .display-link {
  margin: 20px;
  padding: 10px;
  border-radius: $border-radius;
  text-decoration: none;
  color: $secondary-two;
  background-color: $gray-black;
  &:hover {
    background-color: $gray;
  };
  box-shadow: $shadow;
  border: $border;
}

.Main h2 {
  margin: 10px;
}

.Main .selected {
  background-color: $gray;
}
