.Main {
  display: inline-block;
  width: auto;
  grid-area: left; }

.Main .nav-tabs {
  display: flex;
  justify-content: space-around; }

.Main .nav-tabs h2 {
  margin: 15px 0 0 0;
  padding: 5px 10px;
  color: #f26419;
  background-color: #393939;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; }
  .Main .nav-tabs h2:hover {
    background-color: #c1c9c3; }
