.Main {
  display: inline-block;
  width: auto;
  grid-area: left; }

.Main .nav-tabs {
  display: flex;
  justify-content: space-around; }

.Main .display-link {
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: #f6ae2d;
  text-shadow: 2px 2px 3px #1a1a1a;
  background: #1a1a1a;
  background: -moz-linear-gradient(top, #393939 0%, #1a1a1a 100%);
  background: -webkit-linear-gradient(top, #393939 0%, #1a1a1a 100%);
  background: linear-gradient(to bottom, #393939 0%, #1a1a1a 100%);
  box-shadow: 8px 8px 0px 1px rgba(26, 26, 26, 0.4);
  border: solid 2px #1a1a1a;
  width: 30%;
  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .Main .display-link:hover {
    background: #4573ae;
    background: -moz-linear-gradient(top, #4573ae 0%, #41588a 100%);
    background: -webkit-linear-gradient(top, #4573ae 0%, #41588a 100%);
    background: linear-gradient(to bottom, #4573ae 0%, #41588a 100%);
    text-shadow: 2px 2px 3px #1a1a1a; }

.Main h2 {
  margin: 10px; }

.Main .selected {
  background: #4573ae;
  background: -moz-linear-gradient(top, #4573ae 0%, #41588a 100%);
  background: -webkit-linear-gradient(top, #4573ae 0%, #41588a 100%);
  background: linear-gradient(to bottom, #4573ae 0%, #41588a 100%);
  text-shadow: 2px 2px 3px #1a1a1a; }

.Main .credits {
  font-size: .1em;
  color: #c1c9c3;
  z-index: 2;
  position: absolute;
  bottom: 0; }
