@import '../variables.scss';

.Main {
  display: inline-block;
  width: auto;
  grid-area: left;
}

.Main .nav-tabs {
  display: flex;
  justify-content: space-around;
}

.Main .display-link {
  margin: 15px;
  padding: 10px;
  border-radius: $border-radius;
  text-decoration: none;
  color: $secondary-one;
  text-shadow: 2px 2px 3px $black;
  background: $black;
  background: -moz-linear-gradient(top, $gray-black 0%, $black 100%);
  background: -webkit-linear-gradient(top, $gray-black 0%, $black 100%);
  background: linear-gradient(to bottom, $gray-black 0%, $black 100%);
  &:hover {
    background: $primary-accent;
    background: -moz-linear-gradient(top, $primary-accent 0%, $primary-two 100%);
    background: -webkit-linear-gradient(top, $primary-accent 0%, $primary-two 100%);
    background: linear-gradient(to bottom, $primary-accent 0%, $primary-two 100%);
    text-shadow: 2px 2px 3px $black;
  };
  box-shadow: $shadow;
  border: $border;
  width: 30%;
  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.Main h2 {
  margin: 10px;
}

.Main .selected {
  background: $primary-accent;
  background: -moz-linear-gradient(top, $primary-accent 0%, $primary-two 100%);
  background: -webkit-linear-gradient(top, $primary-accent 0%, $primary-two 100%);
  background: linear-gradient(to bottom, $primary-accent 0%, $primary-two 100%);
  text-shadow: 2px 2px 3px $black;
}

.Main .credits {
  font-size: .1em;
  color: $gray-white;
  z-index: 2;
  position: absolute;
  bottom: 0;
}
