@import '../variables.scss';

.Main {
  display: inline-block;
  width: auto;
  grid-area: left;
}

.Main .nav-tabs {
  display: flex;
  justify-content: space-around;
}

.Main .display-link {
  margin: 15px;
  padding: 10px;
  border-radius: $border-radius;
  text-decoration: none;
  color: $secondary-one;
  text-shadow: 2px 2px 3px $black;
  background-color: $gray-black;
  &:hover {
    background-color: $primary-accent;
    text-shadow: 2px 2px 3px $black;
  };
  box-shadow: $shadow;
  border: $border;
  width: 30%;
  min-width: 325px;

}

.Main h2 {
  margin: 10px;
}

.Main .selected {
  background-color: $primary-accent;
  text-shadow: 2px 2px 3px $black;
}
