.Main {
  display: inline-block;
  width: auto;
  grid-area: left; }

.Main .nav-tabs {
  display: flex;
  justify-content: space-around; }

.Main .display-link {
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: #f26419;
  background-color: #393939;
  box-shadow: 8px 8px 0px 1px rgba(26, 26, 26, 0.4);
  border: solid 2px #1a1a1a; }
  .Main .display-link:hover {
    background-color: #7a7d7d; }

.Main h2 {
  margin: 10px; }

.Main .selected {
  background-color: #7a7d7d; }
