.EventCreator {
  display: inline-block;
  grid-area: right;
  width: 90%;
  background: #1a1a1a;
  background: -moz-radial-gradient(top, #1a1a1a 0%, #393939 100%);
  background: -webkit-radial-gradient(top, #1a1a1a 0%, #393939 100%);
  background: radial-gradient(to bottom, #1a1a1a 0%, #393939 100%);
  border-radius: 10px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 8px 8px 0px 1px rgba(26, 26, 26, 0.4);
  border: solid 2px #1a1a1a;
  min-height: 900px; }

.EventCreator .title {
  color: #f6ae2d;
  font-weight: bold;
  font-size: 1.8em; }

.EventCreator .formTitle {
  color: #f6ae2d;
  font-size: 1.4em;
  margin: 15px 0 5px 0; }

.EventCreator .radioButtons {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "rad1 text1" "rad2 text2" "rad3 text3";
  height: 60px;
  margin-bottom: 15px; }

.rad1 {
  grid-area: rad1; }

.rad2 {
  grid-area: rad2; }

.rad3 {
  grid-area: rad3; }

.text1, .text2, .text3 {
  margin-right: auto;
  font-size: 1.2em;
  color: #f9d48f; }

.text1 {
  grid-area: text1; }

.text2 {
  grid-area: text2; }

.text3 {
  grid-area: text3; }

.EventCreator .textInput, select, .parkSearch {
  width: 80%;
  margin: 10px;
  padding-left: 5px;
  height: 25px;
  font-size: 1.1em;
  border-radius: 10px;
  border: none;
  background-color: #f9d48f; }

.EventCreator select {
  border: none; }

.EventCreator .date-time {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.EventCreator .textarea {
  height: 60px; }

.EventCreator .date-input, .time-input {
  width: 48%;
  height: 25px;
  margin: 5px 0;
  border-radius: 10px;
  font-size: 1.1em;
  padding-left: 5px;
  background-color: #f9d48f;
  border: none; }

.EventCreator .selected-park {
  width: 100%;
  height: 25px; }

.EventCreator .park-name h3 {
  margin: 0;
  color: #f6ae2d; }

.EventCreator .italitcs {
  font-style: italic; }

.EventCreator .map {
  width: 200px;
  height: 200px; }

.EventCreator button {
  font-size: 1em;
  font-weight: bold;
  border: none;
  width: 300px;
  height: 50px;
  margin: 15px;
  background: #f6ae2d;
  background: -moz-linear-gradient(top, #f9d48f 0%, #f6ae2d 100%);
  background: -webkit-linear-gradient(top, #f9d48f 0%, #f6ae2d 100%);
  background: linear-gradient(to bottom, #f9d48f 0%, #f6ae2d 100%);
  color: #1a1a1a;
  border-radius: 10px;
  border: solid 2px #1a1a1a; }
  .EventCreator button:hover {
    background: #1a1a1a;
    background: -moz-linear-gradient(top, #393939 0%, #1a1a1a 100%);
    background: -webkit-linear-gradient(top, #393939 0%, #1a1a1a 100%);
    background: linear-gradient(to bottom, #393939 0%, #1a1a1a 100%); }
  .EventCreator button:hover {
    color: #f6ae2d; }

.EventCreator ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #1a1a1a; }
