@import '../variables.scss';

.EventCreator {
  display: inline-block;
  grid-area: right;
  width: 90%;
  background-color: $gray-black;
  border-radius: $border-radius;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: $shadow;
  border: $border;
  min-height: 900px;
}

.EventCreator .title {
  color: $secondary-one;
  font-weight: bold;
  font-size: 1.8em;
}

.EventCreator .formTitle{
  color: $secondary-one;
  font-size: 1.4em;
  margin: 15px 0 5px 0;
}

.EventCreator .radioButtons {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "rad1 text1"
    "rad2 text2"
    "rad3 text3";
  height: 60px;
  margin-bottom: 15px;
}

.rad1 {
  grid-area: rad1;
}

.rad2 {
  grid-area: rad2;
}

.rad3 {
  grid-area: rad3;
}

.text1, .text2, .text3 {
  margin-right: auto;
  font-size: 1.2em;
  color: $primary-two-accent;

}

.text1 {
  grid-area: text1;
}

.text2 {
  grid-area: text2;
}

.text3 {
  grid-area: text3;
}

.EventCreator .textInput, select, .parkSearch {
  width: 80%;
  margin: 10px;
  padding-left: 5px;
  height: 25px;
  font-size: 1.1em;
  border-radius: $border-radius;
  border: none;
  background-color: $primary-two-accent;
}

.EventCreator select {
  border: none;
}

.EventCreator .date-time {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.EventCreator .textarea {
  height: 60px;
}

.EventCreator .date-input, .time-input {
  width: 48%;
  height: 25px;
  margin: 5px 0;
  border-radius: $border-radius;
  font-size: 1.1em;
  padding-left: 5px;
  background-color: $primary-two-accent;
  border: none;
}

.EventCreator .selected-park {
  width: 100%;
  height: 25px;
}

.EventCreator .park-name h3 {
  margin: 0;
  color: $secondary-one
}

.EventCreator .italitcs{
  font-style: italic;
}

.EventCreator .map {
  width: 200px;
  height: 200px;
}

.EventCreator button {
  font-size: 1em;
  font-weight: bold;
  border: none;
  width: 300px;
  height: 50px;
  margin: 15px;
  background-color: $secondary-one;
    &:hover {
      background-color: $black;
    }
  color: $black;
    &:hover {
      color: $secondary-one;
    }
  border-radius: $border-radius;
  border: $border;

}

.EventCreator ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $black;
}
