@import '../variables.scss';

.Event {
  background: $primary-accent;
  background: -moz-linear-gradient(top, $primary-accent 0%, $primary-two 100%);
  background: -webkit-linear-gradient(top, $primary-accent 0%, $primary-two 100%);
  background: linear-gradient(to bottom, $primary-accent 0%, $primary-two 100%);
  border-radius: $border-radius;
  margin: 20px auto;
  box-shadow: $shadow;
  border: $border;
  width: 100%;
  min-width: 600px;
  color: $black;
}

.userEvent {
  background: $black;
  background: -moz-linear-gradient(top, $secondary-two 0%, $primary-one 100%);
  background: -webkit-linear-gradient(top, $secondary-two 0%, $primary-one 100%);
  background: linear-gradient(to bottom, $secondary-two 0%, $primary-one 100%);
  border-radius: $border-radius;
  margin: 20px auto;
  box-shadow: $shadow;
  border: $border;
  width: 100%;
  min-width: 600px;
  color: $black;
}

.h3, h4, p {
  margin: 10px 0;
}

.title {
  font-weight: bold;
  font-size: 1.8em;
}

.type, .date-time, .players {
  font-size: 1.2em;
}

.short-des {
  font-style: italic;
}

.event-info {
  display: grid;
  grid-template-columns: auto 275px 100px;
  grid-template-areas: "info map button"
}

.park {
  font-size: 1.2em;
  font-weight: bold;
  display: inline-block;
  width: 80%;
  padding: 5px;
}

.event-text-details {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
}

.logisitics {
  border: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.park-map {
  width: 275px;
  height: 100%;
  margin-bottom: 25px;
  grid-area: map;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}

button {
  width: 80%;
  height: 50px;
  margin-right: auto;
  grid-area: button;
  border: none;
  background: $secondary-one;
  background: -moz-linear-gradient(top, $primary-two-accent 0%, $secondary-one 100%);
  background: -webkit-linear-gradient(top, $primary-two-accent 0%, $secondary-one 100%);
  background: linear-gradient(to bottom, $primary-two-accent 0%, $secondary-one 100%);
    &:hover {
      background: $black;
      background: -moz-linear-gradient(top, $gray-black 0%, $black 100%);
      background: -webkit-linear-gradient(top, $gray-black 0%, $black 100%);
      background: linear-gradient(to bottom, $gray-black 0%, $black 100%);
    }
  color: $gray-black;
    &:hover {
      color: $secondary-one;
    }
  border-radius: $border-radius;
  font-size: .8em;
  font-weight: bold;
  border: $border;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
