@import '../variables.scss';

.Event {
  background-color: $gray;
  border-radius: $border-radius;
  margin: 0px 20px 20px 20px;
  box-shadow: $shadow;
  border: $border;

}

.Event h3, h4, p {
  margin: 10px 0;
}

.Event .event-info {
  display: grid;
  grid-template-columns: auto 230px 175px;
  grid-template-areas: "info map button"
}

.Event .event-text-details {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Event .park-map {
  width: 200px;
  height: 200px;
  margin: 25px;
  grid-area: map;
}

.Event button {
  width: 125px;
  height: 75px;
  margin: 85px auto 0 auto;
  grid-area: button;
  border: none;
  background-color: $secondary-one;
    &:hover {
      background-color: $gray;
    }
  color: $gray-black;
    &:hover {
      color: $secondary-one;
    }
  border-radius: $border-radius;
  font-size: 1em;
  font-weight: bold;
  border: $border;
}
