@import '../variables.scss';

.Event {
  background-color: $primary-accent;
  border-radius: $border-radius;
  margin: 20px auto;
  box-shadow: $shadow;
  border: $border;
  width: 100%;
  min-width: 600px;
}

.Event h3, h4, p {
  margin: 10px 0;
}

.Event .title {
  font-weight: bold;
  font-size: 1.8em;
}

.Event .type, .date-time, .players {
  font-size: 1.2em;
}

.Event .short-des {
  font-style: italic;
}

.Event .event-info {
  display: grid;
  grid-template-columns: auto 275px 100px;
  grid-template-areas: "info map button"
}

.Event .park {
  font-size: 1.2em;
  font-weight: bold;
  display: inline-block;
  width: 80%;
  padding: 5px;
}

.Event .event-text-details {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
}

.Event .logisitics {
  border: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.Event .park-map {
  width: 275px;
  height: 100%;
  margin-bottom: 25px;
  grid-area: map;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}

.Event button {
  width: 80%;
  height: 50px;
  grid-area: button;
  border: none;
  background-color: $secondary-one;
    &:hover {
      background-color: $gray-black;
    }
  color: $gray-black;
    &:hover {
      color: $secondary-one;
    }
  border-radius: $border-radius;
  font-size: .8em;
  font-weight: bold;
  border: $border;
}

.Event .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
