.Event {
  background-color: #4573ae;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 8px 8px 0px 1px rgba(26, 26, 26, 0.4);
  border: solid 2px #1a1a1a;
  width: 75%;
  min-width: 750px; }

.Event h3, h4, p {
  margin: 10px 0; }

.Event .title {
  font-weight: bold;
  font-size: 2em; }

.Event .type, .date-time, .players {
  font-size: 1.4em; }

.Event .short-des {
  font-style: italic; }

.Event .event-info {
  display: grid;
  grid-template-columns: auto 350px 250px;
  grid-template-areas: "info map button"; }

.Event .park {
  font-size: 1.2em;
  font-weight: bold;
  display: inline-block;
  width: 80%;
  padding: 5px; }

.Event .event-text-details {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px; }

.Event .logisitics {
  border: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center; }

.Event .park-map {
  width: 350px;
  height: 100%;
  margin: 0 25px 25px 25px;
  grid-area: map;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0; }

.Event button {
  width: 150px;
  height: 100px;
  grid-area: button;
  border: none;
  background-color: #f6ae2d;
  color: #393939;
  border-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  border: solid 2px #1a1a1a; }
  .Event button:hover {
    background-color: #393939; }
  .Event button:hover {
    color: #f6ae2d; }

.Event .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
