.Event {
  background: #4573ae;
  background: -moz-linear-gradient(top, #4573ae 0%, #41588a 100%);
  background: -webkit-linear-gradient(top, #4573ae 0%, #41588a 100%);
  background: linear-gradient(to bottom, #4573ae 0%, #41588a 100%);
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 8px 8px 0px 1px rgba(26, 26, 26, 0.4);
  border: solid 2px #1a1a1a;
  width: 100%;
  min-width: 600px;
  color: #1a1a1a; }

.userEvent {
  background: #1a1a1a;
  background: -moz-linear-gradient(top, #94bc7d 0%, #507739 100%);
  background: -webkit-linear-gradient(top, #94bc7d 0%, #507739 100%);
  background: linear-gradient(to bottom, #94bc7d 0%, #507739 100%);
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 8px 8px 0px 1px rgba(26, 26, 26, 0.4);
  border: solid 2px #1a1a1a;
  width: 100%;
  min-width: 600px;
  color: #1a1a1a; }

.h3, h4, p {
  margin: 10px 0; }

.title {
  font-weight: bold;
  font-size: 1.8em; }

.type, .date-time, .players {
  font-size: 1.2em; }

.short-des {
  font-style: italic; }

.event-info {
  display: grid;
  grid-template-columns: auto 275px 100px;
  grid-template-areas: "info map button"; }

.park {
  font-size: 1.2em;
  font-weight: bold;
  display: inline-block;
  width: 80%;
  padding: 5px; }

.event-text-details {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px; }

.logisitics {
  border: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center; }

.park-map {
  width: 275px;
  height: 100%;
  margin-bottom: 25px;
  grid-area: map;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0; }

button {
  width: 80%;
  height: 50px;
  margin-right: auto;
  grid-area: button;
  border: none;
  background: #f6ae2d;
  background: -moz-linear-gradient(top, #f9d48f 0%, #f6ae2d 100%);
  background: -webkit-linear-gradient(top, #f9d48f 0%, #f6ae2d 100%);
  background: linear-gradient(to bottom, #f9d48f 0%, #f6ae2d 100%);
  color: #393939;
  border-radius: 10px;
  font-size: .8em;
  font-weight: bold;
  border: solid 2px #1a1a1a; }
  button:hover {
    background: #1a1a1a;
    background: -moz-linear-gradient(top, #393939 0%, #1a1a1a 100%);
    background: -webkit-linear-gradient(top, #393939 0%, #1a1a1a 100%);
    background: linear-gradient(to bottom, #393939 0%, #1a1a1a 100%); }
  button:hover {
    color: #f6ae2d; }

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
