.App {
  text-align: center;
  background-image: url("localhost:3000/../assets/background-grass-texture.png");
  background-color: #6a9143;
  display: grid;
  grid-template-rows: 120px auto;
  grid-template-columns: 60% minmax(425px, 40%);
  grid-template-areas: "top top" "left right";
  height: 100vh;
  overflow: scroll; }

.Event {
  background: #4573ae;
  background: -moz-linear-gradient(top, #4573ae 0%, #41588a 100%);
  background: -webkit-linear-gradient(top, #4573ae 0%, #41588a 100%);
  background: linear-gradient(to bottom, #4573ae 0%, #41588a 100%);
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 8px 8px 0px 1px rgba(26, 26, 26, 0.4);
  border: solid 2px #1a1a1a;
  width: 100%;
  min-width: 600px;
  color: #1a1a1a; }

.userEvent {
  background: #1a1a1a;
  background: -moz-linear-gradient(top, #94bc7d 0%, #507739 100%);
  background: -webkit-linear-gradient(top, #94bc7d 0%, #507739 100%);
  background: linear-gradient(to bottom, #94bc7d 0%, #507739 100%);
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 8px 8px 0px 1px rgba(26, 26, 26, 0.4);
  border: solid 2px #1a1a1a;
  width: 100%;
  min-width: 600px;
  color: #1a1a1a; }

.h3, h4, p {
  margin: 10px 0; }

.title {
  font-weight: bold;
  font-size: 1.8em; }

.type, .date-time, .players {
  font-size: 1.2em; }

.short-des {
  font-style: italic; }

.event-info {
  display: grid;
  grid-template-columns: auto 275px 100px;
  grid-template-areas: "info map button"; }

.park {
  font-size: 1.2em;
  font-weight: bold;
  display: inline-block;
  width: 80%;
  padding: 5px; }

.event-text-details {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px; }

.logisitics {
  border: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center; }

.park-map {
  width: 275px;
  height: 100%;
  margin-bottom: 25px;
  grid-area: map;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0; }

button {
  width: 80%;
  height: 50px;
  margin-right: auto;
  grid-area: button;
  border: none;
  background: #f6ae2d;
  background: -moz-linear-gradient(top, #f9d48f 0%, #f6ae2d 100%);
  background: -webkit-linear-gradient(top, #f9d48f 0%, #f6ae2d 100%);
  background: linear-gradient(to bottom, #f9d48f 0%, #f6ae2d 100%);
  color: #393939;
  border-radius: 10px;
  font-size: .8em;
  font-weight: bold;
  border: solid 2px #1a1a1a; }
  button:hover {
    background: #1a1a1a;
    background: -moz-linear-gradient(top, #393939 0%, #1a1a1a 100%);
    background: -webkit-linear-gradient(top, #393939 0%, #1a1a1a 100%);
    background: linear-gradient(to bottom, #393939 0%, #1a1a1a 100%); }
  button:hover {
    color: #f6ae2d; }

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.EventCreator {
  display: inline-block;
  grid-area: right;
  width: 90%;
  background: #1a1a1a;
  background: -moz-radial-gradient(top, #1a1a1a 0%, #393939 100%);
  background: -webkit-radial-gradient(top, #1a1a1a 0%, #393939 100%);
  background: radial-gradient(to bottom, #1a1a1a 0%, #393939 100%);
  border-radius: 10px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 8px 8px 0px 1px rgba(26, 26, 26, 0.4);
  border: solid 2px #1a1a1a;
  min-height: 900px; }

.EventCreator .title {
  color: #f6ae2d;
  font-weight: bold;
  font-size: 1.8em; }

.EventCreator .formTitle {
  color: #f6ae2d;
  font-size: 1.4em;
  margin: 15px 0 5px 0; }

.EventCreator .radioButtons {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "rad1 text1" "rad2 text2" "rad3 text3";
  height: 60px;
  margin-bottom: 15px; }

.rad1 {
  grid-area: rad1; }

.rad2 {
  grid-area: rad2; }

.rad3 {
  grid-area: rad3; }

.text1, .text2, .text3 {
  margin-right: auto;
  font-size: 1.2em;
  color: #f9d48f; }

.text1 {
  grid-area: text1; }

.text2 {
  grid-area: text2; }

.text3 {
  grid-area: text3; }

.EventCreator .textInput, select, .parkSearch {
  width: 80%;
  margin: 10px;
  padding-left: 5px;
  height: 25px;
  font-size: 1.1em;
  border-radius: 10px;
  border: none;
  background-color: #f9d48f; }

.EventCreator select {
  border: none; }

.EventCreator .date-time {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.EventCreator .textarea {
  height: 60px; }

.EventCreator .date-input, .time-input {
  width: 48%;
  height: 25px;
  margin: 5px 0;
  border-radius: 10px;
  font-size: 1.1em;
  padding-left: 5px;
  background-color: #f9d48f;
  border: none; }

.EventCreator .selected-park {
  width: 100%;
  height: 25px; }

.EventCreator .park-name h3 {
  margin: 0;
  color: #f6ae2d; }

.EventCreator .italitcs {
  font-style: italic; }

.EventCreator .map {
  width: 200px;
  height: 200px; }

.EventCreator button {
  font-size: 1em;
  font-weight: bold;
  border: none;
  width: 300px;
  height: 50px;
  margin: 15px;
  background: #f6ae2d;
  background: -moz-linear-gradient(top, #f9d48f 0%, #f6ae2d 100%);
  background: -webkit-linear-gradient(top, #f9d48f 0%, #f6ae2d 100%);
  background: linear-gradient(to bottom, #f9d48f 0%, #f6ae2d 100%);
  color: #1a1a1a;
  border-radius: 10px;
  border: solid 2px #1a1a1a; }
  .EventCreator button:hover {
    background: #1a1a1a;
    background: -moz-linear-gradient(top, #393939 0%, #1a1a1a 100%);
    background: -webkit-linear-gradient(top, #393939 0%, #1a1a1a 100%);
    background: linear-gradient(to bottom, #393939 0%, #1a1a1a 100%); }
  .EventCreator button:hover {
    color: #f6ae2d; }

.EventCreator ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #1a1a1a; }

.EventDirectory {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto; }

.Header {
  background: #1a1a1a;
  background: -moz-linear-gradient(top, #393939 0%, #1a1a1a 100%);
  background: -webkit-linear-gradient(top, #393939 0%, #1a1a1a 100%);
  background: linear-gradient(to bottom, #393939 0%, #1a1a1a 100%);
  height: 100px;
  position: sticky;
  top: 0px;
  color: #6a9143;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  grid-area: top;
  z-index: 1; }

.Header .headerPrompt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%; }

.Header h1 {
  margin: 0;
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 3.5em; }

.Header h2 {
  margin: 0; }

.Header .welcome-message {
  display: inline-block;
  margin-left: auto;
  width: 60%; }

.Header .header-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }

.Header button {
  margin-right: 50px;
  font-size: 1em;
  font-weight: bold;
  margin-left: auto;
  border: solid 2px #1a1a1a;
  background: #1a1a1a;
  background: -moz-linear-gradient(top, #94bc7d 0%, #507739 100%);
  background: -webkit-linear-gradient(top, #94bc7d 0%, #507739 100%);
  background: linear-gradient(to bottom, #94bc7d 0%, #507739 100%);
  color: #1a1a1a;
  width: 100px;
  height: 50px;
  border-radius: 10px; }
  .Header button:hover {
    background: #1a1a1a;
    background: -moz-linear-gradient(top, #393939 0%, #1a1a1a 100%);
    background: -webkit-linear-gradient(top, #393939 0%, #1a1a1a 100%);
    background: linear-gradient(to bottom, #393939 0%, #1a1a1a 100%); }
  .Header button:hover {
    color: #507739; }

.Main {
  display: inline-block;
  width: auto;
  grid-area: left; }

.Main .nav-tabs {
  display: flex;
  justify-content: space-around; }

.Main .display-link {
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: #f6ae2d;
  text-shadow: 2px 2px 3px #1a1a1a;
  background: #1a1a1a;
  background: -moz-linear-gradient(top, #393939 0%, #1a1a1a 100%);
  background: -webkit-linear-gradient(top, #393939 0%, #1a1a1a 100%);
  background: linear-gradient(to bottom, #393939 0%, #1a1a1a 100%);
  box-shadow: 8px 8px 0px 1px rgba(26, 26, 26, 0.4);
  border: solid 2px #1a1a1a;
  width: 30%;
  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .Main .display-link:hover {
    background: #4573ae;
    background: -moz-linear-gradient(top, #4573ae 0%, #41588a 100%);
    background: -webkit-linear-gradient(top, #4573ae 0%, #41588a 100%);
    background: linear-gradient(to bottom, #4573ae 0%, #41588a 100%);
    text-shadow: 2px 2px 3px #1a1a1a; }

.Main h2 {
  margin: 10px; }

.Main .selected {
  background: #4573ae;
  background: -moz-linear-gradient(top, #4573ae 0%, #41588a 100%);
  background: -webkit-linear-gradient(top, #4573ae 0%, #41588a 100%);
  background: linear-gradient(to bottom, #4573ae 0%, #41588a 100%);
  text-shadow: 2px 2px 3px #1a1a1a; }

.Main .credits {
  font-size: .1em;
  color: #c1c9c3;
  z-index: 2;
  position: absolute;
  bottom: 0; }

.label-container {
  position: relative;
  top: -200px;
  height: 200px; }

.park-label {
  position: relative;
  background-color: #c1c9c3;
  width: 60%;
  top: 150px;
  margin: auto; }

.Popup {
  background-color: #7a7d7d;
  font-size: 1.2em;
  position: absolute;
  width: 500px;
  top: 250px;
  left: calc(50vw - (350px / 2));
  padding: 10px;
  z-index: 3;
  border-radius: 10px;
  border: solid 2px #1a1a1a;
  color: #1a1a1a; }

.Popup .remove-popup {
  width: 100px;
  height: 50px;
  margin: 15px;
  background-color: #f6ae2d;
  color: #393939;
  border-radius: 10px;
  border: solid 2px #1a1a1a; }
  .Popup .remove-popup:hover {
    background-color: #393939; }
  .Popup .remove-popup:hover {
    color: #f6ae2d; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
