$primary-one: rgba(80, 119, 57, 1);
$secondary-two: rgba(148, 188, 125, 1);
$primary-two: rgba(65, 88, 138, 1);
$primary-accent: rgba(69, 115, 174, 1);
$secondary-one: rgba(246, 174, 45, 1);
$primary-two-accent: rgba(249, 212, 143, 1);
$white: rgba(235, 245, 238, 1);
$gray-white: rgba(193, 201, 195, 1);
$gray: rgba(122, 125, 125, 1);
$gray-black: rgba(57, 57, 57, 1);
$black: rgba(26, 26, 26, 1);
$grass: rgba(106, 145, 67, 1);
$body-font: 'Roboto', sans-serif;
$headers-font:  'Oswald', sans-serif;
$border-radius: 10px;
$shadow: 8px 8px 0px 1px rgba(26, 26, 26, .4);
$border: solid 2px $black;

@mixin linear-gradient($color2, $color1) {
  background: $color1;
  background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
  background: -webkit-linear-gradient(top, $color1 0%, $color2 100%);
  background: linear-gradient(to bottom, $color1 0%, $color2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
}


@mixin radial-gradient($color2, $color1) {
  background: $color1;
  background: -moz-radial-gradient(center, ellipse cover, $color1 18%, $color2 100%);
  background: -webkit-radial-gradient(center, ellipse cover, $color1 18%, $color2 100%);
  background: radial-gradient(ellipse at center, $color1 18%, $color2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 );
}
