@import '../variables.scss';

.label-container {
  position: relative;
  top:-200px;
  height: 200px;


}

.park-label {
  position: relative;
  background-color: $gray-white;
  width: 60%;
  top: 150px;
  margin: auto;
}
